* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #080710;
}

#sbtn {
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    /* border: none; */
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#sbtn:hover {
    background-color: black;
    color: white;
}

#bgame {
    width: 100%;
    height: 100%;
    /* margin-top: 100px; */
    background-image: url(forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
    height: 650px;
    width: 390px;
    border: 1px solid black;
    margin: 0px auto;
    background: url(road.png);
    background-size: contain;
    overflow: hidden;
    /* background-repeat: no-repeat; */
}

#bluecar {
    height: 100px;
    width: 130px;
    /* background-color: black; */
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 1.2s linear infinite;

}

#bluecar img {
    height: 100px;
}

@keyframes move {
    0% {
        top: 0px;
    }

    100% {
        top: 501px;
    }

}

#racecar {
    height: 100px;
    width: 130px;
    /* background-color: red; */
    position: relative;
    top: 250px;
    left: 130px;
    text-align: center;
}

#racecar img {
    height: 100px;
}

#result {
    height: 200px;
    width: 400px;
    background-color: rgb(53, 55, 58);
    margin: 200px auto;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    display: none;
}

#score {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
}

#btn {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    /* border: none; */
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

#btn:hover {
    background-color: gray;
    color: black;
}

a {
    text-decoration: none;
}

#res {
    height: 300px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 100px auto;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(84, 84, 84);
    border: 2px solid black;
    border-radius: 20px;
    font-size: 30px;
    color: white;
}

.final-btn {
    margin-top: 20px;
}

#left, #right {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
}

#clr {
    padding-top: 10px;
    padding-bottom: 28px;
    text-align: center;
}

@media (max-width:700px) {
    #res {
        width: 80%;
        height: 50%;
    }

}

#main_Menu{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #6289bd;
}


/* Form Style */
.sec{
    display: initial;
  }
  
  .sec .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
  .sec .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
 .sec .shape:first-child{
    background: linear-gradient(
        #de0e0e,
        #2374f6
    );
    left: -80px;
    top: -70px;
  }
 .sec .shape:last-child{
    background: linear-gradient(
        to right,
        #de0e0e,
        #2374f6
    );
    right: -30px;
    bottom: -70px;
  }
  
 
.sec form h1{
    display: block;
    letter-spacing: .5px;
    margin-top: 15px;
    padding-top:8px;
    font-size: 1.5em;
    font-weight: 500;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate; */
  }


 .sec form{
    height: 480px;
    width: 340px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
  }
 .sec form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
 .sec form h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
  }
  
 .sec label{
    display: block;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 500;
  }
  .sec input{
    display: block;
    height: 50px;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border: 1px solid white;
    padding: 0 10px;
    margin-top: 60px;
    font-size: 14px;
    font-weight: 300;
  }
 .sec ::placeholder{
    color: #e5e5e5;
  }
  .sec #log{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
 .sec #log:hover{
    color: white;
    transition: 0.4s;
    background-color: #080710;
  }
  
  @media (max-width:500px) {
    .shape{
      display: none;
    }
  }
  
  
  